:root {
  --main-color: #212121;
  --second-color: #757575;
  --accent-color: #2196F3;
  --main-bcg-color: #ffffff;
  --second-bcg-color:#2F303A;
  
}

body {
  background-color: var(--main-bcg-color);
  color: var(--main-color);
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1, h2, h3,
h4, h5, h6,
p, ul{
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
img {
  display: block;
}
/* general */

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

}
.navigation__link.current {
  color: var(--accent-color);
  
}
.current::after{
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  background-color: var(--accent-color);
  height: 4px;
  border-radius: 2px;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}

.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.backdrop{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color : rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: 581px;
  width: 528px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0.8);
}
.modal__close-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover,
.modal__close-btn:focus{
  fill: var(--accent-color);
}
.modal__title {
  text-align: center;
  margin-bottom: 12px;
}
.modal__input-position{
  position: relative;
}
.modal__input-label{
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__input{
  display: block;
  width: 448px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.modal__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__svg,
.modal__input:focus,
.modal__input:focus + .modal__svg{
border-color: var(--accent-color);
fill: var(--accent-color);
}

.modal__textarea{
  resize: none;
  padding: 12px 16px;
  height: 120px;
  margin-bottom: 20px;
}
.modal__textarea::placeholder{
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox-label{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__checkbox-input{
  appearance: none;
  position: absolute;
}
.modal__checkbox-icon {
  margin-right: 7px;
  fill: #fff;
  box-shadow: inset 0 0 0 2px black;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox-input:hover + .modal__checkbox-icon,
.modal__checkbox-input:focus +.modal__checkbox-icon{
  box-shadow: inset 0 0 0 2px var(--accent-color);
}
.modal__checkbox-input:checked + .modal__checkbox-icon{
  background-color: var(--accent-color);
  box-shadow: none;
}

.modal__rules-link{
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}
.modal__send-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__send-btn:hover,
.modal__send-btn:focus{
  background-color: #188CE8;
}
/* header */
.header{
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container{
  display: flex;
  align-items: center;
}
.logo__part--black {
  color: #000000;
}
.navigation__link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  padding-top:  32px;
  padding-bottom: 32px;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover,
.navigation__link:focus{
  color: var(--accent-color);
}
.navigation{
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.navigation__item:not(:last-child){
  margin-right: 50px;
}
.contacts{
  display: flex;
  margin-left: auto;
  
}
.contacts__icon{
  fill: currentColor;
  margin-right: 10px;
}
.contacts__item:not(:last-child){
  margin-right: 50px;
}
.contacts__link--header {
  display: flex;
  align-items: center;
  color: var(--second-color);
  font-weight: 500;
  line-height: 1.14;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link--header:hover,
.contacts__link--header:focus {
  color: var(--accent-color);
}


/* main-index.html */
/* hero-section */
.hero {
  min-width: 1200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(#2F303A66, #2F303A66), 
    url(../images/hero-bcg.jpg), linear-gradient(#C4C4C4, #C4C4C4);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 696px;
  
}
.hero__btn{
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 216px;
  cursor: pointer;
  padding: 10px 32px;
  font-family: 'Roboto' sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.hero__btn:hover,
.hero__btn:focus{
  background-color: #188CE8;
}

/* properties-section */
.properties-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.properties{
  display: flex;
}
.propeties__item{
  width: 270px;
}
.propeties__item:not(:last-child){
  margin-right: 30px;
}

.properties__icon{
  width: 70px;
  height: 70px;
}
.properties__icon-container{
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.properties__title {
  margin-bottom: 10px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
}
.properties__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* work-section */
.work-section{
  padding-bottom: 94px;
}
.work-section__title {
  margin-bottom: 50px;
}
.work{
  display: flex;
}
.work__item:not(:last-child){
  margin-right: 30px;
}
.work__thumb {
  position: relative;
}
.work__text{
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}


/* team-section */
.team-section {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;

}
.team-section__title{
  margin-bottom: 50px;
}
.team {
  display: flex;
}
.team__member{
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team__member:not(:last-child){
  margin-right: 30px;
}
.member__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.member__name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;    
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.member__position{
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}

.social-links{
  display: flex;
  justify-content: center;
}
.social-links__item:not(:last-child){
  margin-right: 10px;
}
.social-links__link {
  display: inline-block;
  color: #AFB1B8;
  padding: 12px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover,
.social-links__link:focus {
  color: #fff;
  background-color: var(--accent-color);
}
.social-links__svg{
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: currentColor;
}


/* clients-section */
.clients-section{
padding-top: 94px;
padding-bottom: 94px;
}
.clients-section__title{
  margin-bottom: 50px;
}
.clients{
  display: flex;
  justify-content: center;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
} 
.clients__link{
  display: inline-block;
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon{
  fill: currentColor;
}
.clients__link:hover,
.clients__link:focus{
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}


/* footer */
.footer{
  background-color: var(--second-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.logo__part--white{
  color: #ffffff;
}
.adress{
  font-style: normal;
}
.adress__google{
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts--footer{
  margin-top: 20px;
}
.contacts__item--footer:not(:last-child){
  margin-bottom: 9px;
}
.contacts__link--footer{
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__google:hover,
.adress__google:focus,
.contacts__link--footer:hover,
.contacts__link--footer:focus{
  color: var(--accent-color);
}
.join{
  margin-left: 70px;
}
.join__text{
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.03em;
  line-height: 1.142;
  font-weight: 700;
  margin-bottom: 20px;
}
.join .social-links__link {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
}
.join .social-links__link:hover,
.join .social-links__link:focus {
  background-color: var(--accent-color);
}

.subscribe-form {
  margin-left: 93px;
}
.subscribe-form__label{
  display: block;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.03em;
  line-height: 1.142;
  font-weight: 700;
  margin-bottom: 20px;
}
.subscribe-form__container{
  display: flex;
}
.subscribe-form__input{
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  color: #FFFFFF;
}
.subscribe-form__input::placeholder{
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.subscribe-form__btn{
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 15px;
  padding: 10px 28px;
  font-family: 'Roboto' sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.subscribe-form__svg{
  fill: #fff;
  margin-left: 10px;
}

/* main portfolio.html */
.examples-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__btn{
  background-color: #F5F4FA;
  border: hidden;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, 
.filters__btn:focus{
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples{
  display: flex;
  flex-wrap: wrap;
}
.examples__item {
  width: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__title{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.examples__type{
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.examples__thumb{
  position: relative;
  overflow: hidden;
}
.examples__overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__overlay-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.examples__item:hover .examples__overlay{
  transform: translateY(0%);
}
.examples__item:hover,
.examples__item:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__item:not(:nth-child(3n)){
  margin-right: 30px;
}
.examples__item:not(:nth-last-child(-n + 3)){
  margin-bottom: 30px;
}
.examples__border{
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}
